__pycache__/
texts/
!texts/README.md
image_prompts/
!image_prompts/README.md
engineered_image_prompts/
!engineered_image_prompts/README.md
images/
!images/README.md
docx/
!docx/README.md
*.swp
openaikey.sh
lexica_prompts.txt
